:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url("./assets/wellness-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(77, 66, 47, 0.965);
  height: auto;
  width: 500px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 20px;
  height: auto;
  position: relative;
}

.form-container h1 {
  text-align: left;
  margin: 0;
  position: absolute;
  top: -35px;
  left: 0;
  padding: 10px;
  width: 100%;
  z-index: 1;
  color: #9bced3;
  font-weight: normal;
  font-size: 40px;
}

h3 {
  margin: 15px;
}

.button-survey {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #4d422f;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  margin: 15px;
}

.name {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #4d422f;
  padding: 8px 16px;
  border-radius: 30px;
  outline: none;
}

.radio-buttons input {
  margin: 20px 10px 10px;
  cursor: pointer;
}

.dropdown {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #4d422f;
  padding: 8px 16px;
  border-radius: 30px;
  outline: none;
  margin: 15px;
}
:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background-image: url("src/assets/wellness-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(77, 66, 47, 0.965);
  height: auto;
  width: 500px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 20px;
}

.button-survey,
.submit {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #4d422f;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.name {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #4d422f;
  padding: 8px 16px;
  border-radius: 30px;
  outline: none;
  margin: 15px;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.radio-buttons label {
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.radio-buttons input {
  margin: 0;
  cursor: pointer;
}

.dropdown {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #4d422f;
  padding: 8px 16px;
  border-radius: 30px;
  outline: none;
  margin: 15px;
}

input {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #4d422f;
  padding: 10px 0px 0px 15px;
  font-size: 16px;
  border-radius: 30px;
  outline: none;
}

.textarea {
  width: 100%;
  height: 200px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 16px;
  outline: none;
}

.text {
  margin-left: 15px;
}

.progress-bar{
  margin-left: 15px;
}

.summary{
  margin: 15px;
}

/* Mobile styles */
@media (max-width: 767px) {
  .form-container {
    width: 100%; /* Adjust as needed */
    padding: 10px; /* Adjust as needed */
  }

  .radio-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
  }

  .textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 16px;
    outline: none;
  }

  .text {
    margin-left: 15px;
  }
  
  .progress-bar{
    margin-left: 15px;
  }
}

/* Tablet styles */
@media (min-width: 768px) and (max-width: 1023px) {
  .form-container {
    width: 70%;
  }

  .radio-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
  }
}

/* Large screen styles */
@media (min-width: 1024px) {
  .radio-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
  }
}
